@use "home-page/main-file-home-page";
@use "about-page/main-file-about-page";
@use 'shop-page/main-file-shop-page';
@use "reset";
@use 'variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root {
  --rad: .7rem;
  --dur: .3s;
  --color-dark: #fafafa;
  --color-light: #e3dfdf;
  --color-brand: #CC5520;
  --font-fam: 'Lato', sans-serif;
  --height: 2rem;
  --btn-width: 2rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

body {
  font-family: "Roboto", sans-serif;
  color: #313131;
}
